/*!
 * Start Bootstrap - Full Width Pics (https://startbootstrap.com/template-overviews/full-width-pics)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-width-pics/blob/master/LICENSE)
 */

a{
    text-decoration: none !important;
}

.bg-theme{
    background-color: #fbd408;
}

.bg-theme-dark{
    background-color: #ffaa00;
}

.star-counter {
    height: 110px;
    background-repeat: no-repeat;
    background-size: 100px;
}

.shadow-top {
	box-shadow: 0 -5px 5px -5px #333;
}

.head-article{
	z-index: 1;
	position: relative;
}

.overflow-hide{
	overflow: hidden;
}

.va-middle{
	vertical-align: middle;
}

#button-input{
	margin: 0;
	vertical-align:middle;
	float: left;
}

#myinput{
	width:85%;
	float: left;
}

#navbar-top{
	z-index: 1000;
}

#table_wrapper{
	margin-top: 100px;
}

.cl-danger{
    color: red;
}

.pt-41{
    padding-top: 41px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/************************** Form Section ********************************************/
.form-fieldset {
    padding: 45px 0px 24px 0px;
}

.login {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  position: relative;
}

.login input[type="text"], .login input[type="password"] {
  width: 100%;
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 16px;
}
.login input[type=checkbox] {
  display: none;
}

.login label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
}

#btn-form {
    margin-top: 35px;
}

.btn-custom-login {
    background: #ffaa00;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-custom-login:hover {
  background: #16aa56;
  animation-name: shake;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
/************************** Form Section ********************************************/


/************************** Boxloading Section ********************************************/
.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #fbd408;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
  .boxLoading {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .boxLoading:before {
    content: "";
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .boxLoading:after {
    content: "";
    width: 50px;
    height: 50px;
    background: #1a6844;
    animation: animate 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  @keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  @keyframes shadow {
    0%,
    100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
  }
  body,
  html {
    background: #ccc;
    overflow: hidden;
    height: 100%;
  }
}
#myDiv {
  display: none;
  text-align: center;
}
/************************** Boxloading Section ********************************************/

/************************** Table Book Section ********************************************/

.table-info {
    color: white;
    background-color: transparent !important;
    margin-top: 50px;
    overflow-x: auto;
    display: block;
}

.table-book h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

.table-book h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.table-book .container th h1 {
    width: 100%;
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #403E10;
}

.table-book .container td {
    width: auto;
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.table-book .container {
	  text-align: left;
	  width: 80%;
	  margin: 0 auto;
}

.table-book .container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
}

/* Background-color of the odd rows */
.table-book .container tr:nth-child(odd) {
	  background-color: #fbd408;
}

/* Background-color of the even rows */
.table-book .container tr:nth-child(even) {
	  background-color: #f4df41;
}

.table-book .container th {
	  background-color: #f4af41;
}

.table-book .container td:first-child { color: #FB667A; }

.table-book .container tr:hover {
   background-color: #ffbf01;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.table-book .container td{
    color: white;
    font-weight: bold;
}

.table-book .container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
/************************** Table Book Section ********************************************/

/************************** Accordion Section ********************************************/
.accordion {
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordion ul {
  list-style: none;
  padding: 0;
    font-size: 20px;
}
.accordion ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
    margin-top: 10px;
}
.accordion ul li {
  margin: 0.5em 0;
}
.accordion ul li a.toggle {
  width: 100%;
  display: block;
  background: #fcca0a;
  color: #fefefe;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}
.accordion ul li a.toggle:hover {
  background: #ffaa00;
}
/************************** Accordion Section ********************************************/

#button-input:hover{
    color: white;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.user_container{
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.floatbox {
    float: left;
}

.wrapper{
    margin-top: 55px;
}

.margin-box{
    margin-top: 110px;
    margin-bottom: 100px;
}
.registry{
    background-color: gray;
}

.spacer{
    height: 40px;
}

.img-profile{
    width: 300px;
}

.btn-msg{
    position: relative;
    float: right;
    top: -70px;
    border: none;
}

.con-desc{
    overflow: hidden;
}


.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.content-heading{
    position: relative;
    display: block;
    padding-left: 5px;
    border-radius: 10%;
}

.content{
    position: relative;
}

.contacts .content-heading{
    width: 170px;
}

.contacts p{
    font-size: 20px;
    margin-left: 30px;
}

.bio{
    margin-bottom: 0px;
}
.bio .content-heading{
    width: 70px;
}

.bio p{
    font-size: 20px;
    margin-left: 30px;
}
.organization .content-heading{
    width: 250px;
}

.date-activity p{
    font-size: 25px;
}

.date-activity span{
    color: #fbd408;
}

.date-activity li{
    list-style: none;
	display: inline;
	text-decoration: none;
}

.skills .content-heading{
    width: 100px;
    margin-bottom: 40px;
}

.skills-elm{
    display: flex;
    align-items:center;
    margin-bottom: 80px;
}

.k_pic{
    float: left;
    width: 20%;
}

.skills-elm p{
    float: left;
    width: 150px;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 50px;
}

.userdata .content-heading{
    width: 120px;
}

.blocks{
    position: relative;
    margin-left: 20px;
    float: left;
}

.block{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: #fbd408;
    border-radius: 50%;
}

.gray{
    background-color: darkgray;
}

@media screen and (max-width: 780px) {
    .btn-msg{
        float: left;
        top: auto;
    }
    .block{
        width: 25px;
        height: 25px;
    }
    .k_pic{
        width: 20%;
    }
	#button-input{
		width: auto !important;
		float: none;
		margin-top: 10px;
	}
	#myinput{
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 660px) {
    .organization span{
        font-size: 22px;
    }
    .organization p{
        font-size: 17px;
    }
}

@media screen and (max-width: 520px) {
    .login{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    #btn-form{
        width: 90%;
    }
}