{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<section id="table_wrapper" class="py-5 head-article shadow">
    
    <div class="container">
        <div>
            {% if user.is_authenticated %}
            <p class="display-4">Hello, {{ user.username }}</p>
            <a href="{% url 'mypage:logout' %}"><button type="button" class="my-3 btn btn-danger"> Logout </button></a>
            {% else %}
            <p class="display-4">Hello, please login</p>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="my-3 btn btn-success"> Login </button></a>
            {% endif %}
            <h2 id="countingStar" style="vertical-align:middle;">
                <i class="material-icons" style="vertical-align:middle;font-size:50px">grade</i>Favourite Books: <span id="fav-counter">{{ request.session.length }}</span>
            </h2>
        </div>
    </div>
    
    <div class="container mb-3 overflow-hide">
        <input class="form-control" id="myinput" type="text" name="search_input">
        <button id="button-input" class="btn btn-outline-warning" onclick="GetBooks()" style="width:15%;" name="action">input
            <i class="va-middle material-icons right">done</i>
        </button>
    </div>
    
    <div class = "table-book">
        <table class="container table-info" id="book_table">
            <thead>
                <tr>
                    <th><h1>Thumbnail</h1></th>
                    <th><h1>Title</h1></th>
                    <th><h1>Published Date</h1></th>
                    <th><h1>Add to Favourite</h1></th>
                </tr>
            </thead>
            <tbody id="maBody"></tbody>
        </table>
    </div>
</section>

<script>
    function GetBooks(){
        $.ajax({
            url: '/get_books/',
            success : function (data){
                getJSONData(data.books);
            }
        })
    }
    
    function getJSONData(books){
        var search_word = $("#myinput").val();
        $.ajax({
            type: 'GET',
            url: "/search_book/"+search_word+"/",
            success: function(data){
                var counter = 0;
                var table_data = '<tbody class="maBody">';

                $.each(data.items, function(key, value){
                    table_data += '<tr>';
                    var thumbnail = value.volumeInfo.imageLinks.thumbnail;
                    table_data += '<td><img src="'+thumbnail+'"></img></td>';
                    table_data += '<td id="item-'+counter+'">'+value.volumeInfo.title+'</td>';
                    table_data += '<td>'+value.volumeInfo.publishedDate+'</td>';

                    table_data += '<td>'+
                        '<button type="button" class="btn btn-warning bmd-btn-fab"'+
                        ' onclick="'+"FavClick(this,'"+value.id+"')"+'" ';
                    
                    if($.inArray(value.id, books) != -1){
                        table_data += 'name="disable" style="color:yellow;"';
                    } else {
                        table_data += 'name="enable" style="color:black;"';
                    }
                    //console.log(" check :: "+CheckID(value.id));
                    
                    table_data += ' id="btn-'+counter+'">'+'<i class="material-icons" style="vertical-align:middle;">grade</i></button>'+'</td>';
                    table_data += '</tr>';
                    
                    counter++;
                });
                

                $(".maBody").remove();
                $('#book_table').append(table_data+"</tbody>");  
            }
        });
    }
    
    function FavClick(obj, id){
        var add;
        
        if(obj.name == "enable")
        {
            add = true;
            obj.name = "disable";
            $(obj).css("color","yellow");
        }
        else 
        {
            /*var i;
            for (i = 0; i < Favourites.length; i++) { 
                if(Favourites[i] == id)
                {
                    Favourites.splice(i,1);
                    break;
                }
            }*/
            add = false;
            obj.name = "enable";
            $(obj).css("color","black");
        }
        
        $.ajax({
            url: '/favorite/',
            data: {added: add, id: id},
            success : function (data){
                $("#fav-counter").text(data.length);
            }
        })
    }
</script>
{% endblock %}