{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section class="pt-41 bg-theme">
    <div class='login text-white'>
        <h2>Register an Account</h2>
        <form class="form" method="post" action="/mypage:add_profile/">
            {% csrf_token %}
            <fieldset class="form-fieldset">
                {{ form.username }} <span id="e-username" class="cl-danger"></span>
            </fieldset>
            <fieldset id="fl-email" class="form-fieldset">
                {{ form.email }} <span id="e-email" class="cl-danger"></span>
            </fieldset>
            <fieldset class="form-fieldset">
                {{ form.password }} <span id="e-password" class="cl-danger"></span>
            </fieldset>
            <fieldset id="fl-confirm-password" class="form-fieldset">
                {{ form.confirm_password }} <span id="e-confirm-password" class="cl-danger"></span>
            </fieldset>
            <button id="btn-form" class="btn btn-form bg-theme-dark text-white" type="button" name="action" disabled>Create Account</button>
        </form>
        <p class="mt-3"><strong>-- OR --</strong></p>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button class="btn-custom-login btn btn-form bg-theme-dark" name="action">Login with Google</button>
        </a>
    </div>
</section>

<script>
    $(".form-input").change(function () {
        var email = $('#form-email').val();
        var username = $('#form-username').val();
        var password = $('#form-password').val();
        var confirm_password = $('#form-confirm-password').val();
    
        $.ajax({
            url: '/ajax/validate_form/',
            data: {
                'username': username,
                'email': email,
                'password': password,
                'confirm_password': confirm_password
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#e-email').text("");
                    $('#fl-email').css("padding-bottom","24px");
                } else {
                    if (data.is_email_invalid){
                        $('#e-email').text("This email is invalid");
                    } else {
                        $('#e-email').text("A user with this email already exists");
                    }
                    $('#fl-email').css("padding-bottom","0");
                }
                
                if (data.is_equal) {
                    $('#e-confirm-password').text("");
                    $('#fl-confirm-password').css("padding-bottom","24px");
                } else {
                    $('#e-confirm-password').text("Password is not the same");
                    $('#fl-confirm-password').css("padding-bottom","0");
                }
                
                if(data.is_submitable) {
                    $('#btn-form').prop('disabled', false);
                    $('#btn-form').addClass('animated');
                } else {
                    $('#btn-form').prop('disabled', true);
                    $('#btn-form').removeClass('animated');
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
       e.preventDefault;
        var email = $('#form-email').val();
        var username = $('#form-username').val();
        var password = $('#form-password').val();
        var confirm_password = $('#form-confirm-password').val();
        
        $.ajax({
            url: '/add_profile/',
            type: 'POST',
            data: {
                'username': username,
                'email': email,
                'password': password,
                'confirm_password': confirm_password,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                alert("success");
                reset();
            }
        });
    });
    
    function reset(){
        $('input').val('');
        $('#btn-form').prop('disabled', true);
        $('#btn-form').removeClass('animated');
    }
</script>
{% endblock %}