{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Password Confirmation</h4>
      </div>
      <div class="modal-body">
        <input class="form-input" id="modal-input" type="text" placeholder="password confirmation">
      </div>
      <div class="modal-footer">
        <button type="button" name="oo" onclick=remove_profile(this) id="btn-modal" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</div>

<section class="py-5 head-article shadow">
    <div class="container">        
        <h2>Profiles Section</h2>
        <div class = "table-book">
            <table class="container table-info" id="book_table">
                <thead>
                    <tr>
                        <th><h1>UserName</h1></th>
                        <th><h1>Email</h1></th>
                        <th><h1>Unsubscribe</h1></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        ulangfakuy();
    });
    
    function ulangfakuy(){
        $.ajax({
            type: 'GET',
            url: "/get_profile_list/",
            success: function(data){
                var counter = 0;
                var table_data = '<tbody class="maBody">';

                $.each(data, function(key, value){
                    table_data += '<tr>';
                    table_data += '<td id="un-'+counter+'">'+value.username+'</td>';
                    table_data += '<td id="em-'+counter+'">'+value.email+'</td>';
                    table_data += '<td>'+
                        '<button type="button" class="btn btn-warning bmd-btn-fab"'+
                        'name="enable" onclick=click_btn('+counter+') id="btn-'+counter+'" data-toggle="modal" data-target="#myModal">'+
                        '<i class="material-icons" style="vertical-align:middle;color:white">remove_circle</i></button>'+
                        '</td>';

                    table_data += '</tr>';
                    counter++;
                });
                $(".maBody").remove();
                $('#book_table').append(table_data+"</tbody>");  
            }
        });
    }
    
    function click_btn(idx){
        console.log(idx);
        $("#btn-modal").attr('name',idx);
    }
    
    function remove_profile(obj){
        var idx = obj.name;
        $.ajax({
            url: '/delete_profile/',
            data: {
                'username': $('#un-'+idx).text(),
                'email': $('#em-'+idx).text(),
                'password': $('#modal-input').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                if(data.isvalid){
                    ulangfakuy();
                    alert("success");
                }else{
                    alert("unsuccessful");
                }
            }
        });
        
    }
</script>
{% endblock %}